/* ==========================================================================
   Style: Her kan du gjøre som du vil;
   ========================================================================== */

section {
	margin: 20px;
}

label {
	display: block
}

input:invalid {
    border: 1px solid red;
}
  
input:valid {
    border: 1px solid black;
}

#errorMessage {
    color: red;
}